@import url('../fonts/fonts.css');
@import url('general.css');

.header-prime-container {
  height: 100vh;
  background-image: url('../img/prime-bottom.png'),
    url('../img/prime.jpg');
  background-repeat: no-repeat;
  background-position: bottom, left;
  background-size: contain, cover;
  margin-bottom: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  margin-bottom: 30px;
}

menu {
  list-style: none;
  display: flex;
  gap: 16px;
  font-size: 18px;
  margin-left: 30px;
}

.prime-title {
  max-width: 584px;
  margin-bottom: 26px;
  line-height: 120%;
}

.prime-text {
  max-width: 490px;
  margin-bottom: 62px;
}

.about-container {
  display: flex;
  align-items: center;
}

.about-text {
  margin-right: 40px;
}

.about-img {
  width: 50%;
}

.services {
  background-image: url("../img/services-bgd.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.services-list {
  margin-bottom: 20px;
}

.services-item {
  padding: 10px 0;
  list-style-position: inside;
}

.services-item p {
  margin-left: 10px;
  display: inline-block;
}

.services-item::marker {
  content: url("../img/services.png");
  margin-right: 10px;
}

.modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url("../img/form-bgd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  display: none;
}

form {
  max-width: 430px;
  margin: 0 auto;
  margin-top: 60px;
}

input,
textarea {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  border: 3px solid white;
  background-color: black;
  color: white;
  outline: none;
}

.form-title {
  margin-bottom: 20px;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
}


@media(max-width:1028px) {
  menu {
    flex-direction: column;
  }

  header {
    align-items: flex-start;
  }

  .container {
    padding: 0 10px 0 10px;
  }
}